h1{
    color:#f6f6f6;
    text-align: center;
}

.title {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;        
    padding:  0.8rem 0.5rem;    
    position: relative;
    transform: translate(-50,0);  
    width: 100%;
}

@media (max-width: 768px){
    .title{
        font-size: 3em;
    }
}